{% render 'partials/head.liquid' %}

<main class="profile-card">
<section class="profile-heading">
  <img src="{{ person.avatar }}" alt="" width="800" height="800" class="profile-card-img">
  <h1>{{ person.name }}</h1>
</section>


  <section class="profile-info">
    <h2>Over mij</h2>
    <p>{{ person.bio }}</p>

    <h3>Mijn ideale pokemon team</h3>
    <ul>
      <li>
        <a href="#">
          <img src="{{ person.avatar }}" height="50" width="50" alt="">
          <p>Pokemon naam</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ person.avatar }}" height="50" width="50" alt="">
          <p>Pokemon naam</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ person.avatar }}" height="50" width="50" alt="">
          <p>Pokemon naam</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ person.avatar }}" height="50" width="50" alt="">
          <p>Pokemon naam</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ person.avatar }}" height="50" width="50" alt="">
          <p>Pokemon naam</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ person.avatar }}" height="50" width="50" alt="">
          <p>Pokemon naam</p>
        </a>
      </li>
    </ul>
  </section>
</main>

{% render 'partials/foot.liquid' %}
